{% load static %}

<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <title>Home</title>
</head>
<body>
    <!--HEADER-->
    {% include 'navbar.html' %}

    <main>
        <!-- Hero Section -->
        <section class="hero">
            <div class="hero__content container">
                <h1>Find Your Taste</h1>
                <p>Bakery &amp; Cafe</p>
                <a href="{% url 'all_product' %}" class="btn">See all Products</a>
            </div>
        </section>

        <!-- Best Seller Section -->
        <section class="best-seller container">
            <h2>Best Seller</h2>

            <div class="products">
            {% for product in products %}
                {% if product.is_bestseller %}
                    <div class="product-card">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        <h3>{{ product.name }}</h3>
                        <p>₵{{product.price}}</p>
                        <a href="{% url 'product' product.id %}" class="btn">View Product</a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
         </div>   
            
        </section>

        <!-- Why Choose Us Section -->
        <section class="why-choose container">
            <h2>Why Choose Us?</h2>
            <div class="why__grid">
            <div class="why__item">
                <i class="ri-star-smile-line"></i>
                <h3>Best Quality</h3>
                <p>We use the finest ingredients for an unforgettable taste.</p>
            </div>
            <div class="why__item">
                <i class="ri-truck-line"></i>
                <h3>Fast Delivery</h3>
                <p>Your orders are delivered quickly to ensure they arrive fresh at your table.</p>
            </div>
            </div>
        </section>
    </main>

    <!--MAIN JS-->
    <script src="{% static 'js/index.js'%}"></script>
</body>
</html>
